.petshop-infos span {
  vertical-align: middle;
  color: #626264;
}

.petshop-infos span.mdi-star {
  color: #facd5d;
}

.petshop-infos text {
  font-size: 13px;
  margin-right: 10px;
  vertical-align: middle;
  color: #626264;
}

.petshop-image {
  border-radius: 5px;
  margin-bottom: 20px;
}
