.petshop-list-container {
  height: 300px;
  position: absolute;
  margin-bottom: 0;
  top: 91px;
  z-index: 999;
  left: 0;
  right: 0;

  background: linear-gradient(
    180deg,
    #ffffff 55.47%,
    rgba(255, 255, 255, 0) 100%
  );
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 50px;
}

.petshop-list {
  padding: 15px;
  white-space: nowrap;
  overflow-x: auto;
  width: 100%;
  margin-top: 15px;
}
